.full-height {
  /* height: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.magical-column {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
.right-row-pt {
  padding-top: 70px;
}
.magical-cell {
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.border-right-gray {
  border-right: 1px solid #202021;
}
.border-left-gray {
  border-left: 1px solid #202021;
}
.border-top-gray {
  border-top: 1px solid #202021;
}
.border-bottom-gray {
  border-bottom: 1px solid #202021;
}
.right-aligned {
  float: right;
  margin-right: 10px;
}
.left-aligned {
  float: left;
  margin-right: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.move-text-top {
  position: relative;
  animation: moveToTop 1s;
}

@keyframes moveToTop {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
.animated-text {
  animation: fadeIn 1s ease-in;
}

.button-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 30vh 0;
}
