.right-aligned {
  float: right;
  margin-right: 10px;
}
.left-aligned {
  float: left;
  margin-right: 10px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.move-text-top {
  position: relative;
  animation: moveToTop 1s;
}

@keyframes moveToTop {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0px);
  }
}
.animated-text {
  animation: fadeIn 1s ease-in;
}
ion-content {
  --padding-start: 80px;
}
