.user-message {
  --background: #fff;
  --border-radius: 20px;
  --padding-start: 10px;
  --padding-end: 10px;
  color: #000;
  max-width: 80%;
  margin-left: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}

.system-message {
  --background: #363636;
  --border-radius: 16px;
  --padding-start: 10px;
  --padding-end: 10px;

  max-width: 80%;
  margin-right: auto;
  margin-left: 10px;
  margin-bottom: 10px;
}

ion-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
ion-content {
  --padding-bottom: 50px;
}
ion-input {
  --border-radius: 16px;
}
